<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
    <router id="standard">
        <route frontName="sso_signin" id="ssosignin">
            <module name="Greenwing_Technology"/>
        </route>
    </router>
</config>